<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Domotica</title>

    <!-- Bootstrap core CSS -->
    <link href="./static/css/bootstrap.min.css" rel="stylesheet">
    <link href="./static/css/custom.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="page-header">
        <h1>Domotica</h1>
      </div>

      <form class="form-horizontal" role="form" method="POST">

      <!-- Form Name -->
      <legend>Añadir Regla</legend>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-sm-2 control-label" for="name">Nombre:</label>
        <div class="col-sm-10">
          <input id="name" name="name" placeholder="" class="form-control" required="" type="text">
        </div>
      </div>

      <!-- Text input-->
      <div class="form-group">
        <label class="col-sm-2 control-label" for="sensor_module">Módulo Sensor:</label>
        <div class="col-sm-10">
          <input id="sensor_module" name="sensor_module" placeholder="" class="form-control" type="text">
          <p class="help-block">ingresar el id del sensor</p>
        </div>
      </div>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-sm-2 control-label" for="output_module">Módulo Control:</label>
        <div class="col-sm-10">
          <input id="output_module" name="output_module" placeholder="" class="form-control" type="text">
          <p class="help-block">ingresar el id del controlador</p>
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-sm-2 control-label" for="time_from">Desde:</label>
        <div class="col-sm-10">
          <select id="time_from" name="time_from" class="form-control">
            <option value="0000">00:00</option>
            <option value="0100">01:00</option>
            <option value="0200">02:00</option>
            <option value="0300">03:00</option>
            <option value="0400">04:00</option>
            <option value="0500">05:00</option>
            <option value="0600">06:00</option>
            <option value="0700">07:00</option>
            <option value="0800">08:00</option>
            <option value="0900">09:00</option>
            <option value="1000">10:00</option>
            <option value="1100">11:00</option>
            <option value="1200">12:00</option>
            <option value="1300">13:00</option>
            <option value="1400">14:00</option>
            <option value="1500">15:00</option>
            <option value="1600">16:00</option>
            <option value="1700">17:00</option>
            <option value="1800">18:00</option>
            <option value="1900">19:00</option>
            <option value="2000">20:00</option>
            <option value="2100">21:00</option>
            <option value="2200">22:00</option>
            <option value="2300">23:00</option>
          </select>
        </div>
      </div>
      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-sm-2 control-label" for="time_to">Hasta:</label>
        <div class="col-sm-10">
          <select id="time_to" name="time_to" class="form-control">
            <option value="0000">00:00</option>
            <option value="0100">01:00</option>
            <option value="0200">02:00</option>
            <option value="0300">03:00</option>
            <option value="0400">04:00</option>
            <option value="0500">05:00</option>
            <option value="0600">06:00</option>
            <option value="0700">07:00</option>
            <option value="0800">08:00</option>
            <option value="0900">09:00</option>
            <option value="1000">10:00</option>
            <option value="1100">11:00</option>
            <option value="1200">12:00</option>
            <option value="1300">13:00</option>
            <option value="1400">14:00</option>
            <option value="1500">15:00</option>
            <option value="1600">16:00</option>
            <option value="1700">17:00</option>
            <option value="1800">18:00</option>
            <option value="1900">19:00</option>
            <option value="2000">20:00</option>
            <option value="2100">21:00</option>
            <option value="2200">22:00</option>
            <option value="2300">23:00</option>
          </select>
        </div>
      </div>

      <!-- Multiple Radios -->
      <div class="form-group">
        <label class="col-sm-2 control-label" for="less">Relación con Límite:</label>
        <div class="col-sm-10">
          <label class="radio" for="less-0">
            <input name="less" id="less-0" value="Menor que" checked="checked" type="radio">
            Menor que
          </label>
          <label class="radio" for="less-1">
            <input name="less" id="less-1" value="Mayor que" type="radio">
            Mayor que
          </label>
        </div>
      </div>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-sm-2 control-label" for="value_threshold">Límite:</label>
        <div class="col-sm-10">
          <input id="value_threshold" name="value_threshold" placeholder="" class="form-control" required="" type="number">
        </div>
      </div>
      <!-- Text input-->
      <div class="form-group">
        <label class="col-sm-2 control-label" for="switch_to_value">Valor a establecer:</label>
        <div class="col-sm-10">
          <input id="switch_to_value" name="switch_to_value" placeholder="" class="form-control" required="" type="number">
        </div>
      </div>

      <!-- Select Basic -->
      <div class="form-group">
        <label class="col-sm-2 control-label" for="priority">Prioridad:</label>
        <div class="col-sm-10">
          <select id="priority" name="priority" class="form-control">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
          </select>
        </div>
      </div>

      <input type="submit" class="btn btn-primary"/>
      </form>

    </div> <!-- /container -->
    <br/>
    <br/>

  </body>
</html>

