<?xml version='1.0' encoding='utf-8'?>
<widget id="ar.edu.itba.embeb.domotica" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Domotica</name>
    <description>
        A web application to check the status of your house
    </description>
    <author email="eordano@itba.edu.ar" href="https://eordano.com">
        ITBA Alumns
    </author>
    <content src="http://192.168.1.104:5000/" />
    <access origin="*" />
</widget>
